# Ignorar archivos no necesarios para el control de versiones
#El directorio .vs/DbComWeb/v16 si debe ser respaldado en el repositorio

/VideosBebe
/VideosBebe_CalidadOriginal
/ImgBebe_CalidadOriginal
/img/Baby Logo 2_CalidadOriginal.gif